<div class="app">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- main -->
  <main class="content">
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>
    <section class="content_section" >
      <div class="banner" >
        <div>
          <img src="{https://image.tmdb.org/t/p/original/{{latestMovies.backdrop_path}}" class="backdrop_image" alt="err displaying backdrop_image"/>
          <!-- <img src="https://preview.redd.it/qdbskde2fhm91.jpg?auto=webp&s=19cf36b43a65dd752cd017f5a30f95b34b73918a" class="backdrop_image" alt="backdrop_image (Black Adam)"> -->
      </div>
      <div class="backdrop_text">
        <!-- <p class="title">Black Adam</p> -->
        <!-- <span class="backdropbtn">Action</span> -->
        <p class="title">{{latestMovies?.title}}</p>
        <h6>{{latestMovies?.overview}}</h6>
        <span class="backdropbtn">{{latestMovies?.status}}</span>
        <div class="action">
          <!-- <button type="button" class="watchbtn">
            <span class="watchbtn"
              >See More <i class="bx bx-play-circle"></i
            ></span>
          </button> -->
        </div>
        </div>
      </div>
    </section>

    <!-- Popular Movies -->
    <section class="movies" id="Popular_Movies">
      <h4 class="movies_header">Popular Movies</h4>
      <br />
        <div class="bottom-images" >
          <div class="img" *ngFor="let movie of popularMovies?.results; let i = index" >
            <div>
              <div class="icons">
                <span>
                  <i class='bx bx-movie-play'></i>
                  <!-- <h5>en</h5> -->
                </span>
                <span>
                  <i class="bx bx-heart fav"></i>
                  <p class="tooltip">Add to Favorites</p>
                </span>
              </div>
              <!-- <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3zXceNTtyj5FLjwQXuPvLYK5YYL.jpg" alt=""/> -->
              <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt=""/>
              <div class="poster_text">
                <span class="title">{{ movie?.title }}</span>
                <!-- <span class="title">Black Adam</span> -->
                <span class="movie_info">{{ movie?.release_date }} • {{ movie?.original_language }} </span>
              </div>
            </div>
          </div>
          <!-- -->
        </div>
    </section>

    <!-- Top Rated Movies -->
    <section class="movies" id="Popular_Movies">
      <h4 class="movies_header vv">Top Rated Movies</h4>
      <br />
        <div class="bottom-images" >
          <div class="img" *ngFor="let movie of topRated?.results; let i = index" >
            <div>
              <div class="icons">
                <span>
                  <i class='bx bx-movie-play'></i>
                  <!-- <h5>en</h5> -->
                </span>
                <span>
                  <i class="bx bx-heart fav"></i>
                  <p class="tooltip">Add to Favorites</p>
                </span>
              </div>
              <!-- <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3zXceNTtyj5FLjwQXuPvLYK5YYL.jpg" alt=""/> -->
              <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt=""/>
              <div class="poster_text">
                <span class="title">{{ movie?.title }}</span>
                <!-- <span class="title">Black Adam</span> -->
                <span class="movie_info">{{ movie?.release_date }} • {{ movie?.original_language }} </span>
              </div>
            </div>
          </div>

          <!-- -->
        </div>
    </section>

    <!-- Upcoming movies -->
    <section class="movies" id="Popular_Movies">
      <h4 class="movies_header vv">Upcoming Movies</h4>
      <br />
        <div class="bottom-images" >
          <div class="img" *ngFor="let movie of Upcomingmovies?.results; let i = index" >
            <div>
              <div class="icons">
                <span>
                  <i class='bx bx-movie-play'></i>
                  <!-- <h5>en</h5> -->
                </span>
                <span>
                  <i class="bx bx-heart fav"></i>
                  <p class="tooltip">Add to Favorites</p>
                </span>
              </div>
              <!-- <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3zXceNTtyj5FLjwQXuPvLYK5YYL.jpg" alt=""/> -->
              <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt=""/>
              <div class="poster_text">
                <span class="title">{{ movie?.title }}</span>
                <!-- <span class="title">Black Adam</span> -->
                <span class="movie_info">{{ movie?.release_date }} • {{ movie?.original_language }} </span>
              </div>
            </div>
          </div>

          <!-- -->
        </div>
    </section>
  </main>
</div>
