

<div class="app">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- main -->
  <main class="content">
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>
    <section class="content_section">
      <div class="banner">
        <img src="https://image.tmdb.org/t/p/original/{{latestMovies?.backdrop_path}}" class="backdrop_image" alt="{{latestMovies?.title}}"/>
      </div>
      <div class="backdrop_text">
        <p class="title">{{latestMovies?.title}}</p>
        <h6>{{latestMovies?.overview}}</h6>
        <span class="backdropbtn">Action</span>
        <div class="action">
          <!-- <button type="button" class="watchbtn">
            <span class="watchbtn"
              >See More <i class="bx bx-play-circle"></i
            ></span>
          </button> -->
        </div>
      </div>
    </section>

    <!-- <section class="content_section container-fluid p-0 m-0"> -->
      <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" *ngIf="latestMovies"> -->
        <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> -->
        <!-- <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://api.themoviedb.org/3/{{latestMovies?.backdrop_path}}" class="d-block w-100" alt="{{latestMovies?.title}}">
          </div> -->
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        <!-- </div> -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      <!-- </div>
    </section> -->

    <!-- Popular Movies -->
    <section class="movies" id="Popular_Movies">
      <h4 class="movies_header">Popular Movies</h4>
      <br />
        <div class="bottom-images" >
          <div class="img" *ngFor="let movie of popularMovies?.results; let i = index" >
            <div >
              <div class="icons">
                <span>
                  <i class='bx bx-movie-play'></i>
                  <!-- <h5>en</h5> -->
                </span>
                <span>
                  <i class="bx bx-heart fav"></i>
                  <p class="tooltip">Add to Favorites</p>
                </span>
              </div>
              <!-- <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3zXceNTtyj5FLjwQXuPvLYK5YYL.jpg" alt=""/> -->
              <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt=""/>
              <div class="poster_text">
                <span class="title">{{ movie?.title }}</span>
                <!-- <span class="title">Black Adam</span> -->
                <span class="movie_info">{{ movie?.release_date }} • {{ movie?.original_language }} </span>
              </div>
            </div>
          </div>

          <!-- -->
        </div>
    </section>
  </main>
</div>
