<!-- <div class="app"> -->
  <aside class="sidebar">
    <div class="logo_div">
      <h4 [routerLink]="['/home']">Ubivid</h4>
    </div>

    <div class="search">
      <i class="bx bx-search"></i>
      <input type="text" class="hide" placeholder="Quick Search ..." />
    </div>

    <div>
      <div class="sidebar_section">
        <p>Menu</p>
        <ul class="ps-0">
          <li>
            <a routerLink="/home" class="active">
              <i class="bx bx-compass"></i>
              <span>All Movies</span>
            </a>
          </li>
          <li>
            <a href="#Popular_Movies">
              <i class="bx bx-movie-play"></i>
              <span>Popular Movies</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-right-top-arrow-circle"></i>
              <span>Top Rated Movies</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-calendar"></i>
              <span>Upcoming Movies</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="sidebar_section">
        <p>Genres</p>
        <ul class="ps-0">
          <li>
            <a href="/home">
              <i class="bx bx-run"></i>
              <span>Action</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-cycling"></i>
              <span>Adventure</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-face"></i>
              <span>Animation</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-ghost"></i>
              <span>Horror</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-film"></i>
              <span>Science Fiction</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-film"></i>
              <span>Western</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="sidebar_section">
        <p>Options</p>
        <ul class="ps-0">
          <li>
            <a href="/home">
              <i class="bx bx-search-alt"></i>
              <span>Search</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-cog"></i>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-bell"></i>
              <span>Notifications</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-heart"></i>
              <span>Favorites</span>
            </a>
          </li>
          <li>
            <a href="/home">
              <i class="bx bx-user-circle"></i>
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
<!-- </div> -->
